%h2{style: "color: #000066"} Overall Ratings
%p
  Select the model of the vehicle that you desire to view.
  The highest rating is 10.
%form{:action => '/over3', :method => 'post', :id => 'user-form', class: 'form-inline'}
  %div
    %select{:name => "year"}
      <option value=#{@year}>#{@year}

    %select{:name => "make_s"}
      <option value=#{@makes}>#{@makes}

    %select{:name => "model_s"}
      %option{:value => "default"} Select Model
      -if @skills
        - @skills.each do |skill|
          <option value=#{skill.model}>#{skill.model}
    %input{:type => 'submit', :id => 'over2-form-submit', :class => 'btn btn-default', :value => 'submit'}
%p
%p
%p
-if @car
  %table{class: 'center', :border => '1'}
    %tbody
      %tr
        %th Year
        %th Make
        %th Model
        %th Sentiment
      -@car.each do |c|
        %tr
          %td
            = c['year']
          %td
            = c['make']
          %td
            = c['model']
          %td
            = c['model_sentiment']
